.header-logo img {
    max-width: 180px;
}
.header {
    text-align: center;
    padding: 32px 0;
}
.navCenter{
    display: flex;
    justify-content: center;
}
.navCenter a {
    text-transform: uppercase;
    font-size: 13px;
}
