.lightSlider li {
    text-align: center;
}

.innerTest {
    position: relative;
    width: 600px;
    margin: auto;
    padding: 40px 0;
    max-width: 100%;
}

.lightSlider li p i {
    position: absolute;
    left: -50px;
    font-size: 50px;
    top: -13px;
    opacity: .1;
}
.lightSlider li p{
    position: relative;
}
.lightSlider li h3 {
    font-size: 13px;
    text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
    .lightSlider li p i {
        display: none;
    }
}

.lightSlider li h3::before {
    content: "-------------";
    margin-right: 10px;
    letter-spacing: -3px;
}