html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
p {
  font-size: 14px;
}
.navbar-nav {
  flex-direction: initial !important;
}

.navbar-nav a:not(:last-child) {
  margin-right: 14px;
}

.cs-hidden {
  height: 1px;
  opacity: 0;
  filter: alpha(opacity=0);
  overflow: hidden;
}
.row {
  margin: 0;
}

.imageWall ul {
  margin: 0;
  padding: 0;
  list-style: none;
  /* width: 137px; */
  /* height: 137px; */
}

.imageWall ul li {
  width: 137px;
  height: 137px;
  overflow: hidden;
  display: inline-table;
}

.imageWall ul li img {
  max-width: 100%;
}