html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
p {
  font-size: 14px;
}
.navbar-nav {
  flex-direction: initial !important;
}

.navbar-nav a:not(:last-child) {
  margin-right: 14px;
}

.cs-hidden {
  height: 1px;
  opacity: 0;
  filter: alpha(opacity=0);
  overflow: hidden;
}
.row {
  margin: 0;
}

.imageWall ul {
  margin: 0;
  padding: 0;
  list-style: none;
  /* width: 137px; */
  /* height: 137px; */
}

.imageWall ul li {
  width: 137px;
  height: 137px;
  overflow: hidden;
  display: inline-table;
}

.imageWall ul li img {
  max-width: 100%;
}

.grid {
  text-align: center;
  max-width: 95vw;
  margin: 2.5vw auto;
}


/* Step 3: how big should the gap be between grid items? remember that the total gap between two items would be double what you set here since both would have that amount set as their individual padding. Also add box-sizing:border-box to make sure the padding doesn't affect the total widh of the item */

.grid-item {
  padding: 5px;
  box-sizing: border-box;
	display:inline;
}


/* Step 4: Add media queries (subjective) to make the whole grid resposive. */

@media (min-width: 320px) {
  .grid-item {
    width: 50%;
  }
}

@media (min-width: 1000px) {
  .grid-item {
    width: 33.333%;
  }
}

@media (min-width: 1700px) {
  .grid-item {
    width: 25%;
  }
}

@media (min-width: 2100px) {
  .grid-item {
    width: 20%;
  }
}
.grid-item img {
  width: 100%;
}